<div ng-if="user.isAdmin ==1" id="dashboard" >

    <div ng-include="'addProductModal.html'"></div>
    <div ng-include="'addNewUserModal.html'"></div>


    <div class="container">
        <h3>Admin dashboard</h3>
        <div class="row">
            <button class="col-lg-2 btn btn">
                <a data-toggle="modal" data-target="#addProduct" ng-click="store.showProductForm()">Add a new product</a>
            </button>
            <button class="col-lg-2 col-lg-offset-1 btn btn"><a data-toggle="modal" data-target="#addNewUser">Add a new user</a></button>
        </div>
    </div>
</div>
