<div class="container" ng-if="user.isAdmin == 0" id="profile">
      <h2>Your wishlist <i class="fa fa-heart" aria-hidden="true"></i></h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in wishlistProducts track by $index">
            <td><img src={{product.image}} width="100px" height="100px"></td>
            <td> <h3>{{product.name}} </h3>
                {{product.short_desc}}
            </td>
            <td><h3>{{product.price | currency}}</h3></td>
            <td> <button class="btn btn-primary" ng-click="store.addCartProduct(product); store.removeFromWishlist($index, product.product_id)">Add to cart</button></td>
            <td>
              <button class="btn btn-danger" ng-click="store.removeFromWishlist($index, product.product_id)">Remove from wishlist <i class="fa fa-heart-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>Products you have ordered</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in orderedProducts track by $index">
            <td><img src={{product.image}} width="100px" height="100px"></td>
            <td> <h3>{{product.name}} </h3>
                {{product.short_desc}}
            </td>
            <td><h3>{{product.price | currency}}</h3></td>
            <td> <button class="btn btn-primary" ng-click="store.addCartProduct(product);">Add to cart</button></td>
          </tr>
        </tbody>
      </table>

      <h2>Your previous orders:</h2>
     <!--  <table class="table table-hover">
        <thead>
          <tr>
            <th>Product image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead> -->
<!--         <tbody>
 -->      <div class="row" ng-repeat="order in userOrders" ng-show="order.order_items">
            <h3>Ordered on: {{order.CreatedOn}}</h3>
            <h5>Email: {{order.email}}</h5>
            <h5> Shipping address: {{order.address}}</h5>
            <h5>Total: {{order.total | currency}}</h5>
            
            <div class="col-md-2" ng-repeat= "products in order.order_items">
              <p>Product: <b>{{products.name}}</b></p>
              <p>Quantity: <b>{{products.quantity}}</b></p>
              <p>Price: <b>{{products.price | currency}}</b></p>
              <img src={{products.image}} height="100px" width="100px">
            </div>
          </div>
          <hr>
    



</div>